.selectorBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--neutral-100);
    border: 2px solid var(--neutral-200);
    border-radius: 0.5rem;
    flex: 1;
    color: var(--neutral-900);

    transition: all 0.15s;
}

.selected {
    background-color: var(--primary-light);
    border-color: var(--primary);
}

.selectorBtn:hover:not(.selected) {
    background: var(--neutral-200);
    color: var(--neutral-600);
}